<%= @first_name %> <%= @last_name %>,<br/>
<br/>
You have requested that your password be reset for the Equinix GUIDE appplication at <a href="<%= @domain %>">www.circuitclout.com</a>.<br/>

Click here to change your password: <a href="<%= @domain %>manage_user/confirm_email/<%= @confirmation_id %>">Reset Password</a>.  This link will allow you generate a new password and you will not be asked to provide any information.<br/>

You have until <%= @expiration_date %> to use this link. If you do not use this link to change your password, your password will remain unchanged.<br/>

If you have any concerns or issues, please contact Lance Homer (lhomer@equinix.com / 801-742-5382).